<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width">
	<title>Track the whites!</title>
	<link rel="stylesheet" type="text/css" href="dist/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="angular.min.js"></script>
	<meta name='author' content='Joey Melnick'>
</head>

<!-- Initialize Angular for this page -->
<body ng-app="myApp">
  
  <!-- Header code here -->
  <header class='header-top'>
  	<section id="headerLogo">
      <a href="index.html"><img src='images/logo.png' alt='logo' class='logoSize'></a>
  	</section>
  	<nav>
      <ul>
        <li>
          <a href="about.html">About</a>
        </li>
        <li>
          <a href="contact.html">Contact</a>
        </li>
        <li id="trackMts">
          <a href="tracker.html">Track</a>
        </li>
      </ul>
  	</nav>
  </header>

  
  <div class='title'>
    <h4> 4,000 Foooter Tracker</h4>
  </div>

    <!-- Calls the mainController for this section -->
	<div id="tracker" class="panel" ng-controller='mainController'>
   
   <!--  Mountain selector list coding here -->
    <div class='selector-list'>   
      <form class="form-inline">
        
        <!-- Sort buttons coding  -->
        <a href="#" ng-click="sortBy('identifier')"><button class='sort-button'> Sort by Name </button></a>
        <a href="#" ng-click="sortBy('height')"><button class='sort-button'>Sort by Height </button></a>
        
        <!-- Filter bar coding -->
        <input ng-model="query" type="text" placeholder="Filter by" autofocus>
      </form>
          <!-- Mountain Display section starts here -->
      <div>
<!--         this filter makes sure that its only searching mountains and it is ordered by whatever sort type is set to and if it is clicked twice it will reverse that order -->
        <div class='mountain' ng-repeat="mountain in mountains | filter:{'mountain': query} | orderBy:sortType:reverse">
          
          <h6 ng-cloak id=' {{ mountain.mountain }}' ng-click='setMountain(mountain.mountain)'> <button class='mt-button'>{{ mountain.mountain }} <span class='height'><br /> {{ mountain.height }} Feet</span></button></h6>
        </div>
      </div>
    </div>


    <!-- **** Make a starting panel so its not all blank **** -->
    <!-- in retrospect i could have done this using views and a router, probably not neccesary for this small of a project -->
    <div class='mountain-display'>  
      <div ng-cloak ng-repeat="mountain in mountains">
<!--         only shows if this mountain has been clicked -->
        <div ng-show='thisMountain(mountain.mountain)'> 

          <span class='mt-title'>{{mountain.mountain}}</span> <br />
          <img class='mt-img'ng-src="{{ mountain.img }}" alt="Description" ng-show='thisMountain(mountain.mountain)'/> <br /> 
          <span class='mt-height'> {{ mountain.height }} Feet</span> <br />
          <span class='mt-difficulty'>Difficulty: {{ mountain.difficulty }}</span> <br /><br />
          <p class='mt-descr'>  {{ mountain.descr }} </p>
           
<!--           input form needs to be updated -->
           <form class='form'>
          <label class='check-box'>Check if you've hiked it<input type='checkbox'></input></label> </br>
          <input type ='text' value='put any notes on your hike here' class='note-tracker'></input>
        </form> 
        </div>

      </div>
    </div>
  </div>
   
<script src="dist/main.js"></script>
<script src="dist/app.js"></script>
 <script src="dist/mainController.js"></script>       

</body>
</html>