$mainFont: "roboto";
$fontSize: 16px;
$backgroundColor: #f0f0f0;
$black: #333;
$amcGreen: #1c4d42;

body{
	background-color: $backgroundColor;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

/* Buttons */

.button{
	color: white;
	text-decoration: none;
	font-weight: 400;
	font-size: 1.5em;
	padding: 10px;
	background-color: $amcGreen; /* CHANGE THIS COLOR GROSS */
	border: 1px solid $amcGreen;
	border-radius: 10px;
	margin-right: 5px;
	margin-top: 20px;
	transition: all 1s ease;
	&:hover{
		background-color: rgba(28,77,66, .5);
		color: black;
		transition: all 1s ease;
	}
}

.mt-button{
	min-width: 130px;
	min-height: 50px;
	background-color: rgba(28,77,66, .1);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	&:hover{
		background-color: rgba(28,77,66, .5);
		color: black;
		transition: all 1s ease;
	}
	}

/* Header Styles */

header {
	margin: 0 auto;
  	width: 100%;
 	min-height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;

	#headerLogo {
		width: 40%;
		float: left;
		margin-left: 20px;
		a {
			text-decoration: none;
		}	
	}
	nav {
	width: 40%;
	float: right;
	text-align: right;
	margin-right: 40px;
}
}

.logoSize{
	width: 50px;
	padding-top: 5px;
}

/* Navigation */

header{
	
	nav ul {
	list-style-type: none;
	margin: 0;
	line-height: 25px;
	padding-top: 13px;
	}

	nav ul li {
	display: inline-block;
	}

	nav ul li a {
	padding: 10px;
	color: white;
	text-decoration: none;
	font-size: 18px;
	}

}

.headerMain{
transition-duration: 2s;
	}

#trackMts{
	background-color: $amcGreen;
	border: 1px solid $amcGreen;
	border-radius: 5px;
	margin: 0 5px 0 0;
	padding: 0;
	
	a{
	color: white;
	}	
}

/* Hero Section */

#hero {
  background: 
    linear-gradient(
      rgba(28,77,66,0.58), 
      rgba(28,77,66,0.58)
    ),
    url('../images/heroMt.jpg');
	background-size: cover;
	text-align: center;
	color: white;
	background-position: 25%;
	
	.inner-wrapper {
	max-width:  100%;	
	}

	h2 {
	font-weight: 300;
	padding: 45px 45px 20px 45px;
	}

	h5 {
	font-weight: 300;
	padding: 0 0 70px 0;
	margin: 0;
	}
}

/* Learn More Section */

#learnMore {
	width: 100%;
	min-height: 300px;
	text-align: center;
	margin-bottom: 20px;
	.two-column-1{
		margin: 20px;
		padding: 65px 0 65px 50px;
	}
	.two-column-2{
		margin: 20px;
		float: right;
		padding: 65px 50px 65px 0;
	}
	h4 {
	color: $amcGreen;
	font-style: italic;
	padding-bottom: 20px;
	border-bottom: 5px solid $amcGreen;
	max-width: 450px;
	margin: 0 auto 50px;
	}
	h5 {
	font-weight: 400;
	margin-top: 0.3em;
	margin-bottom: 0;
	}

}



/* Form Section */
#rotatingSection {
    position: relative; 
    width: 100%;
    height: 300px; 
	text-align: center;
	color: white;
	background: 
    linear-gradient(
      rgba(36,65,75,0.58), 
      rgba(36,65,75,0.58)
    ),
    url('../images/mtWash.jpg');
	background-size: cover;
	background-position: center;

}


.slide{
	position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
    color: white;
}




/* About Us Section */

#aboutUs {
	text-align: center;
	height: auto;
		h3 {
		color: rgb(66, 137, 157);
		font-style: italic;
		padding-bottom: 20px;
		border-bottom: 5px solid rgb(66, 137, 157);
		max-width: 450px;
		margin: 0 auto 50px;
		}
}

/* Tracker Page */

.title{
	text-align: center;
	padding-top: 30px;
	h4{
		margin: 0;
	}
}

#tracker {
	width: 100%;
	 h4 {
		margin: 5px 0 5px 0;
		text-align: center;

		}

	
	form{
		color: white;
		}
}

.selector-list{
	width: 40%;
	float: left;
	margin: 0;
	.form-inline{ 
		text-align: center;
		padding: 20px 0 0 0;
	}

}

.mountain{
	display: inline-block;
	width: 33%;
	padding: 10px 0;
	min-height: 30px;
	text-align: center;
	h6{
		font-size: 16px;
		color: $amcGreen;
	}
}

.mountain-display{
	width: 55%;
	margin-left: 5%;
	float: left;
	text-align: center;
	.mt-title{
		font-size: 40px;
		color: $amcGreen;
		padding-top: 57px;
	}

	.mt-img{
	width: 60%;
	}
	.mt-height{
		font-size: 25px;
	}
	.mt-difficulty{
		font-size: 25px;
	}
	p{
		text-align: left;
	}
}

.trackerSpace{
	padding-left: 10%;
}

.trackerForm{
	padding: 15px;
	background-color: rgba(36,65,75,1);
	margin: 0 auto;
	text-align: left;
	color: white;
}

textarea {
	width:45%;
	vertical-align: top;
}

.hidden {
	display:none;
}

.show {
	display: inline;
}
/* Footer */

footer {
	width: 100%;

	p {
		font-family: "Courier New", Courier, monospace; ;
	}
	#footerLogo {
		max-width: 50px;
		padding: 20px;
		img {
		width: 100%;
	}
}
	}
	

